@import url("https://fonts.googleapis.com/css?family=Orbitron");

* {
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}
#topbar {
  background-color: blueviolet;
  float: center;
  text-align: center;
  font-size: 24px;
}
.collapsible {
  background-color: blueviolet;
  float: center;
  cursor: pointer;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 17px;
}
.active,
.collapsible:hover {
  background-color: blueviolet;
}
.content {
  display: none;
  text-align: center;
  font-size: 15px;
  overflow: hidden;
  max-height: 0;
  background-color: blueviolet;
  transition: max-height 0.5s ease-out;
}
.choice {
  width: 50%;
  float: left;
}
body {
  background-color: black;
}
.clock {
  display: none;
}
